<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBM_uYusuPk7jA_zGmB_HOXPMsEuTsHfHY "></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/">Login</a></li>
            <li><a href="/user/list">User</a></li>
            <li><a href="/place/list">Place</a></li>
            <li><a href="/interest/list">Interest</a></li>
            <li><a href="/user/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    <style>
      #map {
        height: 200px;
        width: 70%;
       }
    </style>
    <h3><%= dataPlaces.name %></h3>
    <h1>User edit</h1>
    <form class="" action="/place/edit/<%= dataPlaces.id %>" method="post">
      <input type="textarea" placeholder="name" id="locality" name="name" onFocus="initializeAutocomplete()" value="<%=dataPlaces.name %>">
      <input type="text" placeholder="latitude" id="latitude" name="latitude" value= <%=dataPlaces.latitude %>>
      <input type="text" placeholder="longitude" id="longitude" name="longitude" value= <%=dataPlaces.longitude %>>
      <button>EDIT</button>
    </form>
    <script type="text/javascript">
      function initializeAutocomplete(){
        var input = document.getElementById('locality');
        // var options = {
        //   types: ['(regions)'],
        //   componentRestrictions: {country: "IN"}
        // };
        var options = {}
    
        var autocomplete = new google.maps.places.Autocomplete(input, options);
    
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
          var place = autocomplete.getPlace();
          var lat = place.geometry.location.lat();
          var lng = place.geometry.location.lng();
          var placeId = place.place_id;
          // to set city name, using the locality param
          var componentForm = {
            locality: 'short_name',
          };
          document.getElementById("latitude").value = lat;
          document.getElementById("longitude").value = lng;
        });
      }
    </script>
</body>
</html>