<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #map {
          height: 70%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
    <title>Places</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/">Login</a></li>
            <li><a href="/user/list">User</a></li>
            <li><a href="/place/list">Place</a></li>
            <li><a href="/interest/list">Interest</a></li>
            <li><a href="/user/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Tools</td>
            </tr>
        </thead>
        <tbody>
            <% dataPlaces.forEach(data => {%>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.name %></td>
                <td>
                    <a href="/place/edit/<%= data.id%>">Edit</a>
                    <a href="/place/delete/<%= data.id%>">Delete</a>
                </td>
            </tr>
            <%})%>
        </tbody>
    </table>
    <a href="/place/list/add">Add Places</a>
    <style>
        #map {
          height: 400px;
          width: 50%;
         }
      </style>
      <h3></h3>
      <center>
      <div id="map"></div>
      <h2 style="display:none;" id="uid"><%=JSON.stringify(dataPlaces) %></h2>
      </center>
      <script>
        function initMap() {
          var Monas = {lat: -6.175392, lng: 106.827153};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: Monas
          });
          var test =  $("#uid").html(); 
          test= JSON.parse(test)
          // var marker1 = null
          for (let index = 0; index < test.length; index++) {
             let a = ({lat:Number(test[index].latitude),lng:Number(test[index].longitude)});
             if(a){
              var marker = new google.maps.Marker({
                position: a,
                map: map
              });
             } 
          }
          // console.log(dataPlaces);
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIzXpQR2AexfyCCtje5jaSrMtQO5rPNsQ&callback=initMap">
    </script>
</body>
</html>
