<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <body>
      <h1><a href = "/user/createuser"> Add Name </a></h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Password</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
        <%input.forEach(user =>
        {%>
        <tr>
          <th><%=user.id%></th>
          <th><%=user.name%></th>
          <th><%=user.username%></th>
          <th><%=user.password%></th>
          <th><a href = "/user/edit/<%=user.id%>" action="/user/list">Edit</a>
          <a href = "/user/delete/<%=user.id%>" action="/user/list">Delete</a></th>
        </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
