<html>
  <head>
    <meta charset="utf-8"
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body> 
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/">Login</a></li>
                    <li><a href="/user/list">User</a></li>
                    <li><a href="/place/list">Place</a></li>
                    <li><a href="/interest/list">Interest</a></li>
                    <li><a href="/user/logout">Logout</a></li>
                  </ul>
                </div>
              </nav>
    <h1>WISHLIST</h1>
    <table class="table table-bordered">
      <thead>
        <th>No</th>
        <th>Places</th>
        <th>Rating</th>
        <th>Review</th>
      </thead>
      <tbody>
        <% user_places.forEach((data, no) => {%>
            <tr>
                <td><%= no+1 %></td>
                <td><%= data.Place.name %></td>
                <td>
                   <% if(data.rating){ %>
                        <%= data.rating %>
                        <% } else { %>
                        <form action="/interest/add_rating/<%= data.id %>" method="post">
                        <input name="rating" type="number"> <button type="submit">Add</button>
                        </form>
                        <% } %>
                </td>
                <td>
                        <% if(data.review){ %> 
                            <%= data.review %>
                            <% } else { %>
                            <form action="/interest/add_review/<%= data.id %>" method="post">
                            <input name="review" type="text"> <button type="submit">Add</button>
                            </form>
                            <% } %>
                </td>
                
            </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>

